<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-title>
      Messages
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
      <ion-button [routerLink]="['/profile']" >profile</ion-button>
    </ion-toolbar>
    <ion-card>
      <img src="../../assets/gorl2.jpg">
      <ion-card-header>
        <ion-card-title>Sofía</ion-card-title>
        <ion-card-subtitle>19</ion-card-subtitle>
        <ion-card-subtitle>96%</ion-card-subtitle>
        
      </ion-card-header>
      
    </ion-card>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
