<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dipper

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

 <div class="cards">
  <ion-card>
    <img src="../../assets/gorl.jpg">
    <ion-card-header>
      <ion-card-title>Britney</ion-card-title>
      <ion-card-subtitle>18</ion-card-subtitle>
      <ion-card-subtitle>17%</ion-card-subtitle>
      
      
    </ion-card-header>
    
  </ion-card>


  <ion-card>
    <img src="../../assets/gorl.jpg">
    <ion-card-header>
      <ion-card-title>Britney</ion-card-title>
      <ion-card-subtitle>18</ion-card-subtitle>
      <ion-card-subtitle>69%</ion-card-subtitle>
      
    </ion-card-header>
    
  </ion-card>

  <ion-card>
    <img src="../../assets/gorl.jpg">
    <ion-card-header>
      <ion-card-title>Britney</ion-card-title>
      <ion-card-subtitle>18</ion-card-subtitle>
      <ion-card-subtitle>37%</ion-card-subtitle>
      
    </ion-card-header>
    
  </ion-card>

  <ion-card>
    <img src="../../assets/gorl.jpg">
    <ion-card-header>
      <ion-card-title>Britney</ion-card-title>
      <ion-card-subtitle>18</ion-card-subtitle>
      <ion-card-subtitle>40%</ion-card-subtitle>
      
    </ion-card-header>
    
  </ion-card>

  <ion-card>
    <img src="../../assets/gorl.jpg">
    <ion-card-header>
      <ion-card-title>Britney</ion-card-title>
      <ion-card-subtitle>18</ion-card-subtitle>
      <ion-card-subtitle>10%</ion-card-subtitle>
      
    </ion-card-header>
    
  </ion-card>

  <ion-card>
    <img src="../../assets/gorl.jpg">
    <ion-card-header>
      <ion-card-title>Britney</ion-card-title>
      <ion-card-subtitle>18</ion-card-subtitle>
      <ion-card-subtitle>55%</ion-card-subtitle>
      
    </ion-card-header>
    
  </ion-card>
</div>
  
</ion-content>
